* {
    margin: 0%;
    padding: 0%;
    font-size: 100%;
}

nav {
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    height: 54px;
}
nav ul {
    margin-left: 110px;
    margin-top: -30px;
}

nav ul li {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

nav div {
    background-color: #E60012;
    width: 140px;
    height: 54px;
}

nav ul li input {
    border: none;
    border-bottom: 0.5px solid black;
    width: 402px;
    height: 34px;
    background-image: url("../images/SearchIcon.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    margin-left: 45px;
    vertical-align: top;
    margin-top: -20px;
}

nav ul li p {
    display: inline;
}

#nintendo-logo {
    margin-left: 24px;
}

.right {
    margin-left: 980px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#sub-nav {
    height: 39px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
#sub-nav ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#sub-nav ul li {
    display: inline-block;
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
}
#subnav ul li p {
    vertical-align: top;
}

#image-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 100%;
}

#available-now {
    text-align: center;
}

#available-now header span {
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#available-now header button {
    color: white;
    width: 196px;
    height: 67px;
    border-radius: 10px;
    border: 0.5px solid #E60012;
    background-color: #E60012;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url("../svgs/chevRight.svg");
    background-repeat: no-repeat;
    background-position-x: 150px;
    background-size: contain;
    font-size: 150%;
    padding-right: 15px;
    margin-left: 30px;
    margin-right: 30px;
}

#everyone {
    margin-top: 10px;
    margin-bottom: -40px;
}
#everyone-container {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    font-size: 80%;
    margin-left: 10px;
}

#mild {
    line-height: 1.7;
}

#everyone-container hr {
    margin-bottom: 5px;;
}
.small-hr {
    width: 100px;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.column {
    display: inline-block;
}
.column img {
    border-radius: 10px;
}

.column figure figcaption {
    text-align: left;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
}
.column figure small {
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    border-bottom: 1px solid #E60012;
}

#medium-hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1180px;
}

#game-store-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #E60012;
    width: 1180px;
    height: 194px;
}

#game-store-container ul {
    list-style-type: none;
}
#game-store-container ul li span {
    display: block;
    margin-left: 300px;
    margin-top: -130px;
    font-size: 170%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}
#game-store-container ul li button {
    display: block;
    margin-left: 940px;
    margin-top: -50px;
    background-color: #AC000d;
    border: 0.5px solid #AC000d;
    width: 203px;
    height: 67px;
    background-image: url("../svgs/chevRight.svg");
    background-size: contain;
    background-repeat: no-repeat;
    color: white;
    background-position: right;
    border-radius: 10px;
    font-size: 120%;
}

#console-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#console-container h1 {
    margin-left: 250px;
    width: 595px;
    height: 45px;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

#switch-lite-container h1 {
    margin-left: 360px;
    font-size: 200%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#switch-lite-container h1 button {
    font-size: 70%;
    width: 341px;
    height: 67px;
    background-color: #E60012;
    border: 0.5px solid #E60012;
    margin-left: 210px;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url("../svgs/chevRight.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

#news-container {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#news-container h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    margin-left: 355px;
}

#news-container figure figcaption {
    width: 557px;
    margin-left: 40px;
}
#news-container figure figcaption header {
    margin-top: 10px;
    margin-bottom: 10px;
}
#news-container figure figcaption .description {
    margin-bottom: 10px;
    font-weight: 100;
}
#news-container figure figcaption .read-more {
    text-decoration: underline;
    text-decoration-color: #E60012;
    text-decoration-thickness: 3px;
}
#news-container img {
    margin-left: 40px;
    margin-right: 40px;
}
#news-container small {
    border: none;
}

#image-list {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#image-list li {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
#image-list li figure {
    height: 300px;
}
#image-list li figure img {
    border-radius: 10px;
}
#image-list li figure figcaption {
    text-align: left;
}
#image-list li figure figcaption p {
    font-size: 80%;
    font-weight: 100;
    margin-top: 7px;
    margin-bottom: 7px;
}

#image-list li figure figcaption header {
    width: 272px;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 120%;
}   
#image-list li figure figcaption small {
    text-decoration: underline;
    text-decoration-color: #E60012;
    text-decoration-thickness: 3px;
}
#see-all-news-articles {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 279px;
    height: 67px;
    background-image: url("../svgs/chevRight.svg");
    background-repeat: no-repeat;
    background-color: #E60012;
    border-radius: 10px;
    border: 0.5px solid #E60012;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-size: contain;
    background-position: right;
    font-size: 130%;
}

#new-release-title {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-right: 700px;
    font-size: 160%;
}
#new-release-title span {
    color: #E60012;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 75%;
    text-decoration: underline;
    text-decoration-color: #E60012;
    text-decoration-thickness: 3px;
}

#characters {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 160%;
    text-align: center;
    margin-right: 1050px;
}
#mario {
    background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/mario-bg?v=2021062713");
}
#link {
    background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/zelda-bg?v=2021062713");
}
#animal {
    background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/Animal_Crossing_A_background?v=2021062713");
}
#kirby {
    background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/Kirby_B_background?v=2021062713");
}

footer {
    height: 386px;
    background-color: #e7e7e7;
}
footer div {
    
    width: 1000px;
}

.row2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column2 {
    display: inline-block;
    width: 150px;
    vertical-align: top;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    line-height: 1.7;
}
.column2 #listOne {
    list-style-type: none;
    font-size: 80%;
}
.column2 #listTwo {
    list-style-type: none;
    font-size: 80%;
}
.column2 #listThree {
    list-style-type: none;
    font-size: 80%;
}
.column2 #listFour {
    list-style-type: none;
    font-size: 80%;
}
.column2 #listFive {
    list-style-type: none;
    font-size: 80%;
}
.column2 #listSix {
    list-style-type: none;
    font-size: 80%;
}

#legal-container {
    float: right;
    width: 690px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#legal-container ul {
    list-style-type: none;
    line-height: 1.7;
}
#legal-container ul li {
    font-size: 80%;
}
#social-footer {
    height: 205px;
    background-color: #3c3a3a;
}
#social-footer ul {
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
#social-footer ul li {
    display: inline-block;
    margin-top: 30px;
    margin-right: 43px;
    margin-left: -15px;
}
#social-footer #social-list li {
    width: 48px;
    height: 48px;
    margin-top: -20px;
    margin-left: 5px;
    margin-right: 5px;
}

#social-footer p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    color: white;
}

#facebook {
    background-color: #1878f2;
    padding: 9px;
    border: 0.2px solid #1878f2;
    border-radius: 10px;
}
#instagram {
    background-color: #d32c69;
    padding: 9px;
    border: 0.2px solid #d32c69;
    border-radius: 10px;
}
#twitter {
    background-color: #1DA1F2;
    padding: 9px;
    border: 0.2px solid #1DA1F2;
    border-radius: 10px;
}
#youTube {
    background-color: #ff0200;
    padding: 9px;
    border: 0.2px solid #ff0200;
    border-radius: 10px;
}

#msrp {
    float: right;
    margin-right: 1100px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
}