
body {
    background-color: rgb(240, 240, 244);
}

header {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
}
#fireFoxTitle {
    margin-bottom: 25px;
    margin-left: 10px;
}

.searchbar {
    margin-top: 50px;;
}

#search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 720px;
    height: 52px;
    border-radius: 10px;
    border: 0.2px solid black;
    box-shadow: 0 3px 8px var(--newtab-search-first-shadow), 0 0 2px var(--newtab-search-second-shadow);
    background-image: url("../images/googleIcon.webp");
    background-size: 20px 20px;
    background-position-y: 17px;
    background-position-x: 20px;
    background-repeat: no-repeat;
    text-indent: 60px;
}

.search-wrapper {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#tile:hover {
    width: 120px;
    height: 144px;
    background-color: rgb(240, 240, 244);
}
.tile {
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: white;
}
.tile img {
    margin-top: 15px;
    margin-left: 15px;
}

.row {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 200px;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.column {
    display: inline-block;
    border-radius: 4px;
    width: 80px;
    height: 80px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.special-container {
    display: inline-block;
    margin-top: 30px;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 120px;
    height: 144px;
    background-color: transparent
}
.special-container:hover {
    border: 1px solid #B1B1B3;
    background-color: #B1B1B3;
}

.row a {
    color: black;
}

.column img {
    margin-top: 15px;
}

.row .column .company {
    position: relative;
    top: 20px;
}

#recommeded {
    text-align: center;
    margin-right: 680px;
}

#pockets {
    margin-top: -50px;
    line-height: 1.2em;
}

.row2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    height: 200px;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

.column2 {
    display: inline-block;
    border-radius: 4px;
    width: 296px;
    height: 318px;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
}

.column2 img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.info-area {
    text-align: left;
    margin-left: 10px;
}
.info-area article .url {
    float: left;
    margin-left: 0px;
    margin-top: -30px;
}
.info-area article header {
    font-weight: 600;
    width: 267px;
    text-align: left;
}

.info-area #sponsor {
    text-align: left;
    margin-left: 10px;
}

#learn-more {
    font-size: 80%;
    margin-left: 10px;
    
}